__pycache__/character_details.cpython-36.pyc
__pycache__/character_details.cpython-39.pyc
__pycache__/classes.cpython-36.pyc
__pycache__/classes.cpython-39.pyc
__pycache__/intro.cpython-36.pyc
__pycache__/new_game.cpython-36.pyc
__pycache__/start_menu.cpython-36.pyc
characters/tim.json
